body {
  font-family: "Barlow", sans-serif;
  font-style: normal;
}

/* HEADER */

#header {
  min-height: 100px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: white;
}

#header .container {
  height: 100px;
}

#header img {
  height: 90px;
}

#header i {
  font-size: 24px;
  color: #AC9970;
}

#header .offcanvas {
  background-color: rgba(0, 0, 0, 0.7);
}

#header .offcanvas ul {
  color: white;
  font-size: 26px;
}

#header .offcanvas ul a {
  color: currentColor;
  text-decoration: none;
}

#header .offcanvas li {
  margin: 15px 0;
}

#header .my-btn,
#content .my-btn {
  background-color: #AC9970;
  color: white;
  font-weight: 700;
  border-radius: 0;
  padding: 5px 14px;
}

/* MODAL */

#myModal {
  display: none;
  background-color: yellow;
}

/* SLIDER */

#slider {
  height: 600px;
  width: 100%;
}

#slider img {
  object-position: center center;
}

.slider-chevron {
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: 24px;
}

.bounce {
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {
      transform: translateY(0px);
  }
  25% {
      transform: translateY(-25px);
  }
  100% {
      transform: translateY(0px);
  }
}

/* CONTENT */

#content {
  margin-top: 250px;
}

#content .article::after {
  content: "";
  width: 50px;
  border: 1px solid #AC9970;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 50px;
}

/* FOOTER */

#footer {
  background-color: lightgray;
}