body {
  font-family: "Barlow", sans-serif;
  font-style: normal;
}

/* HEADER */

#header {
  min-height: 100px;
  width: 100%;
  position: sticky;
  top: 0;
}

#header .container {
  height: 100px;
}

#header img {
  height: 90px;
}

#header i {
  font-size: 24px;
  color: #AC9970;
}

#header .offcanvas {
  background-color: rgba(0, 0, 0, 0.7);
}

#header .offcanvas ul {
  color: white;
  font-size: 26px;
}

#header .offcanvas ul a {
  color: currentColor;
  text-decoration: none;
}

#header .offcanvas li {
  margin: 15px 0;
}

#header .my-btn {
  background-color: #AC9970;
  color: white;
  font-weight: 700;
  border-radius: 0;
  padding: 5px 14px;
}

/* MODAL */

#myModal {
  display: none;
  background-color: yellow;
}

/* SLIDER */

#slider {
  height: 600px;
  width: 100%;
  background-color: blue;
}

/* CONTENT */

#content {
  background-color: green;
}

/* FOOTER */

#footer {
  background-color: lightgray;
}